.navbar-custom {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Inter";
  font-weight: 600;
  z-index: 1000;
  background-color: #1a2c38;
  box-shadow: 0 4px 6px -1px #0003, 0 2px 4px -1px rgba(0,0,0,.122);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 10px;
  color: #ffffff;
}

.menu-opcion {
  color: #ffffff;
  font-size: 18px;
  transition: all .3s;
  text-decoration: none;
}

.menu-opcion:hover {
  color: #1475e1;
}

.active-link {
  color: #1475e1;
  font-size: 18px;
  text-decoration: none;
}

.nav-link-space {
  margin-right: 20px;
}

.btn-nav-blanco,
.btn-nav-azul {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.btn-nav-blanco {
  color: #ffffff;
  background-color: transparent;
}

.btn-nav-blanco:hover {
  background-color: #f0f0f0;
  color: #1475e1;
}

.btn-nav-azul {
  background-color: #1475e1;
  color: #ffffff;
}

.btn-nav-azul:hover {
  background-color: #105eb4;
}